<h4>Edit a Product <button class="btn btn-warning" [routerLink]="['/products']">Cancel</button></h4>

<form (submit)="update()">
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text" class="form-control" id="name" name="product.title" [(ngModel)]="product.name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" name="product.price" [(ngModel)]="product.price" placeholder="Enter price">
  </div>
  <div class="form-group">
    <label for="image">Image url</label>
    <input type="text" class="form-control" id="image" name="product.url" [(ngModel)]="product.url" placeholder="Enter url">
  </div>
  <p class="red" *ngIf="flash">{{flash}}</p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>